<div class="mobile-wrp">
    <div class="mobile-inner">
        <ul class="mobile-menu">
            <li><a [routerLink]="['Home']">TRANG CHỦ</a></li>
            <li><a [routerLink]="['Home']">DANH SÁCH TRUYỆN</a></li>
            <li><a href="#">THỂ LOẠI</a></li>
            <li><a href="#">TRUYỆN MỚI</a></li>
            <li><a href="#">ĐỌC NHIỀU</a></li>
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
        </ul>
        <div class="mobile-search-wrp">
            <form>
                <input type="text" name="" id="" class="m-search-inp" placeholder="Tìm kiếm"/>
                <button type="submit" name="" id="" class="m-search-btn"><i class="fa fa-search"></i></button>
                <div class="clear"></div>
            </form>
        </div>
    </div>
    <span class="mobile-close"><i class="fa fa-close"></i></span>
</div>
<div id="top">
    <div class="top-above">
        <div class="inner">
            <div class="top-above-right">
                <p><a href="#" class="open-top-form" rel="top-form-login"><i class="fa fa-user"></i>&nbsp;Đăng nhập</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a
                        href="#" class="open-top-form" rel="top-form-register">Đăng ký tài khoản</a></p>
                <div class="top-form top-form-login">
                    <h3>ĐĂNG NHẬP</h3>
                    <a href="#" class="button-facebook"><i class="fa fa-facebook"></i>&nbsp;Đăng nhập bằng Facebook</a>
                    <a href="#" class="button-google"><i class="fa fa-google"></i>&nbsp;Đăng nhập bằng Google</a>
                    <p>Đăng nhập bằng email</p>
                    <form>
                        <input type="email" name="" id="" class="top-form-inp" placeholder="Email *"
                               required="required"/>
                        <input type="password" name="" id="" class="top-form-inp" placeholder="Mật khẩu *"
                               required="required"/>
                        <input type="submit" name="" id="" class="top-form-btn" value="ĐĂNG NHẬP"/>
                    </form>
                    <div class="clear"></div>
                    <span class="top-form-close"><i class="fa fa-close"></i></span>
                </div>
                <div class="top-form top-form-register">
                    <h3>ĐĂNG KÝ TÀI KHOẢN</h3>
                    <a href="#" class="button-facebook"><i class="fa fa-facebook"></i>&nbsp;Đăng ký bằng Facebook</a>
                    <a href="#" class="button-google"><i class="fa fa-google"></i>&nbsp;Đăng ký bằng Google</a>
                    <p>Đăng ký bằng email</p>
                    <form>
                        <input type="email" name="" id="" class="top-form-inp" placeholder="Email *"
                               required="required"/>
                        <input type="password" name="" id="" class="top-form-inp" placeholder="Mật khẩu *"
                               required="required"/>
                        <input type="password" name="" id="" class="top-form-inp" placeholder="Nhập lại mật khẩu *"
                               required="required"/>
                        <input type="submit" name="" id="" class="top-form-btn" value="ĐĂNG KÝ"/>
                    </form>
                    <div class="clear"></div>
                    <span class="top-form-close"><i class="fa fa-close"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="top-below">
        <div class="inner">
            <div class="top-below-logo">
                <h1 id="logo"><a [routerLink]="['Home']"><img src="assets/images/logo.png" alt="DeathPlace"/></a></h1>
            </div>
            <div class="top-below-nav">
                <ul class="top-menu">
                    <li class="top-menu-item top-menu-item-1 top-menu-item-1-hover"><a [routerLink]="['Home']">TRANG CHỦ</a></li>
                    <li class="top-menu-item top-menu-item-2"><a [routerLink]="['Home']">DANH SÁCH TRUYỆN</a></li>
                    <li class="top-menu-item top-menu-item-3"><a href="#">THỂ LOẠI</a></li>
                    <li class="top-menu-item top-menu-item-4"><a href="#">TRUYỆN MỚI</a></li>
                    <li class="top-menu-item top-menu-item-5"><a href="#">ĐỌC NHIỀU</a></li>
                </ul>
            </div>
            <div class="top-below-right">
                <div class="top-below-right-up">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;Theo dõi Facebook
                        DeathPlace</a>
                </div>
                <div class="top-below-right-down">
                    <div class="top-search-wrp">
                        <form>
                            <input type="text" name="" id="" class="top-search-inp" placeholder="Nhập từ khoá..."/>
                            <button type="submit" name="" id="" class="top-search-btn"><i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <span class="mobile-toggle"><i class="fa fa-align-justify"></i>&nbsp;MENU</span>
        </div>
    </div>
    <div class="top-extend">
        <div class="inner">
            <p><i class="fa fa-tags"></i>&nbsp;<strong>Hot tags:</strong> <a href="#">Action</a>, <a
                    href="#">Adventure</a>, <a href="#">Ecchi</a>, <a href="#">Horror</a>, <a href="#">Mystery</a></p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<router-outlet></router-outlet>
<div id="btm">
    <div class="inner">
        <p class="copyright">&copy; 2005-2015 DeathPlace. Phát triển bởi Hyenas Team</p>
        <img src="assets/images/logo.png" alt="DeathPlace" width="60" height="70"/>
        <span class="move-top" (click)="moveTop()"><i class="fa fa-angle-double-up"></i></span>
    </div>
</div>
<div class="clear"></div>