<div class="sidebar-box sidebar-box-1">
    <div class="sidebar-head">
        <h2>HOT NHẤT</h2>
    </div>
    <div class="sidebar-body loading-parrent-nodata" [hidden]="mangas">
        <div class="loading">
            <img src="assets/images/loading.png" alt="Loading" width="30" height="30"/>
        </div>
    </div>
    <div class="sidebar-body" [hidden]="!mangas">
        <div class="sidebar-hot-item" *ngFor="#chapter of mangas">
            <div class="sidebar-hot-item-left">
                <a href="#"><img src="{{chapter.mangas.thumbnail}}" alt="{{chapter.mangas.name}}"/></a>
            </div>
            <div class="sidebar-hot-item-right">
                <div class="sidebar-hot-item-right-title">
                    <h3><a href="#"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;&nbsp;{{chapter.mangas.name}}</a></h3>
                </div>
                <div class="sidebar-hot-item-right-chapter">
                    <p><i class="fa fa-book"></i>&nbsp;&nbsp;<a href="#">Chapter {{chapter.chapter}}</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<strong>{{chapter.hits}}</strong>
                        lượt xem</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="sidebar-box sidebar-box-2">
    <div class="sidebar-head">
        <h2>TRUYỆN MỚI</h2>
    </div>
    <div class="sidebar-body loading-parrent-nodata" [hidden]="newestMangs">
        <div class="loading">
            <img src="assets/images/loading.png" alt="Loading" width="30" height="30"/>
        </div>
    </div>
    <div class="sidebar-body" [hidden]="!newestMangs">
        <div class="sidebar-new-item" *ngFor="#manga of newestMangs">
            <div class="sidebar-new-item-left">
                <a href="#"><img src="{{manga.thumbnail}}" alt="DeathPlace"/></a>
            </div>
            <div class="sidebar-new-item-right">
                <div class="sidebar-new-item-right-title">
                    <h3><a href="#"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;&nbsp;{{manga.title}}</a></h3>
                </div>
                <div class="sidebar-new-item-right-info">
                    <p><strong>Tác giả:</strong>
                        <template ngFor #author [ngForOf]="manga.authors" #last="last">
                            {{author.title}}
                            <template [ngIf]="!last"> ,</template>
                        </template>
                    </p>
                    <p><strong>Thể loại:</strong>
                        <template ngFor #category [ngForOf]="manga.categories" #last="last">
                            {{category.title}}
                            <template [ngIf]="!last"> ,</template>
                        </template>
                    </p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>