<div id="mid">
    <div class="inner">
        <div class="home-featured">
            <!--<home-slider [mangas]="slideDate"></home-slider>-->
            <home-slider></home-slider>
        </div>
        <div class="spacer20"></div>
        <div class="main">
            <new-arrivals [queryResult]="queryResult"></new-arrivals>
        </div>
        <div class="sidebar">
            <sidebar></sidebar>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>