<div class="home-latest">
    <div class="box-head">
        <h2>MỚI CẬP NHẬT</h2>
        <a href="#" class="box-head-refresh"><i class="fa fa-refresh"></i></a>
    </div>
    <div class="box-body" class="loading-parrent-nodata" *ngIf="loading && !mangas">
        <div class="loading">
            <img src="assets/images/loading.png" alt="Loading" width="30" height="30" />
        </div>
        <div class="home-latest-head-list">
            <h4 class="home-latest-head-list-1">Truyện</h4>
            <h4 class="home-latest-head-list-2">Nhóm dịch</h4>
            <h4 class="home-latest-head-list-3">Thời gian</h4>
            <div class="clear"></div>
        </div>
    </div>
    <div class="box-body loading-parrent">
        <div class="loading" *ngIf="loading && mangas">
            <img src="assets/images/loading.png" alt="Loading" width="30" height="30" />
        </div>
        <div class="home-latest-head-list">
            <h4 class="home-latest-head-list-1">Truyện</h4>
            <h4 class="home-latest-head-list-2">Nhóm dịch</h4>
            <h4 class="home-latest-head-list-3">Thời gian</h4>
            <div class="clear"></div>
        </div>
        <div class="home-latest-comic" *ngFor="#manga of mangas">
            <div class="home-latest-comic-left">
                <a href="#"><img src="{{manga.thumbnail}}" alt="DeathPlace" width="50" height="70"/></a>
            </div>
            <div class="home-latest-comic-right">
                <div class="home-latest-comic-right-title">
                    <h3><a href="#"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;&nbsp;{{manga.name}}</a>
                    </h3>
                </div>
                <!--<div class="home-latest-chapter-line">-->
                <div class="home-latest-chapter-line" *ngFor="#chapter of manga.chapters">
                    <div class="home-latest-chapter-line-1"><a href="#"><i class="fa fa-book"></i>&nbsp;&nbsp;Chapter
                        {{chapter.chapter}}</a></div>
                    <div class="home-latest-chapter-line-2" *ngFor="#group of chapter.groups">
                        <p><img src="{{group.avatar}}" alt="{{group.name}}"/></p>
                        <a href="#">{{group.name}}</a>
                    </div>
                    <div class="home-latest-chapter-line-3">
                        {{convertDate(chapter.created_at)}}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="box-paging" [hidden]="!mangas">
        <a class="box-paging-left" (click)="goToPage(1)"><i class="fa fa-angle-double-left"></i>&nbsp;&nbsp;&nbsp;Trang
            đầu</a>
        <div class="box-paging-mid">
            <a (click)="prePage()"><i class="fa fa-angle-left"></i></a>
            <span *ngFor="#page of paginationList #index=index">
                <span class="active" *ngIf="page == queryResult.current_page">{{page}}</span>
                <a *ngIf="page != queryResult.current_page" (click)="goToPage(page)">{{page}}</a>
            </span>
            <a (click)="nextPage()"><i class="fa fa-angle-right"></i></a>
        </div>
        <a class="box-paging-right" (click)="goToPage(queryResult.last_page)">Trang cuối&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i></a>
        <div class="clear"></div>
    </div>
</div>