<div class="carousel-container" [hidden]="!mangas">
    <div id="icarousel">
        <div class="slide" *ngFor="#manga of mangas; #mLast=last">
            <div class="featured-item">
                <div class="featured-item-left">
                    <a href="{{manga.thumbnail}}"><img src="{{manga.thumbnail}}" alt="DeathPlace" width="260"
                                                       height="380"/></a>
                </div>
                <div class="featured-item-right">
                    <h2><a href="#">{{manga.title}}</a></h2>
                    <div class="featured-item-right-info">
                        <p><strong>Tác giả:</strong>
                            <template ngFor #author [ngForOf]="manga.authors" #last="last">
                                {{author.title}}
                                <template [ngIf]="!last"> ,</template>
                            </template>
                        </p>
                        <p><strong>Thể loại:</strong>
                            <template ngFor #category [ngForOf]="manga.categories" #last="last">
                                {{category.title}}
                                <template [ngIf]="!last"> ,</template>
                            </template>
                        </p>
                        <p><strong>Tình trạng:</strong>&nbsp;&nbsp;&nbsp;<i class="fa fa-dot-circle-o"></i>&nbsp;{{manga.statuses.name}}
                        </p>
                        <p [innerHTML]="manga.description"><strong>Giới thiệu:</strong>
                        </p>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="featured-views">
                    <img src="/assets/images/logo.png" alt="Death Place" width="25px"/>
                    <a href="#" style="color: #ffffff">Death Place</a>
                </div>
                <a [routerLink]="['Manga',{slug:manga.slug}]" class="featured-read">Đọc truyện <i
                        class="fa fa-external-link"></i></a>
            </div>
        </div>
    </div>
</div>