<div id="mid" *ngIf="manga">
    <div class="inner">
        <div class="breadcrumb">
            <p><a [routerLink]="['Home']">Trang chủ</a>&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;<span>{{manga.name}}</span>
            </p>
        </div>
        <div class="clear"></div>
        <div class="main">
            <div class="comic-detail">
                <div class="comic-detail-left">
                    <img src="{{manga.thumbnail}}" alt="{{manga.name}}" width="260" height="380"/>
                </div>
                <div class="comic-detail-right">
                    <h1><a href="#">{{manga.name}}</a></h1>
                    <div class="comic-detail-info">
                        <p><strong>Tác giả:</strong>
                            <template ngFor #author [ngForOf]="manga.authors" #last="last">
                                {{author.name}}
                                <template [ngIf]="!last"> ,</template>
                            </template>
                        </p>
                        <p><strong>Thể loại:</strong>
                            <template ngFor #category [ngForOf]="manga.categories" #last="last">
                                {{category.name}}
                                <template [ngIf]="!last"> ,</template>
                            </template>
                        </p>
                        <p><strong>Tình trạng:</strong>&nbsp;&nbsp;&nbsp;<i class="fa fa-dot-circle-o"></i>&nbsp;{{manga.statuses.name}}
                        </p>
                        <p><strong>Giới thiệu:</strong></p>
                        <p [innerHTML]="manga.description"></p>
                    </div>
                    <div class="comic-detail-meta">
                        <div class="comic-detail-meta-views">Lượt xem: <strong>1,168,281</strong></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="spacer20"></div>
            <div class="home-latest detail-chapter">
                <div class="box-head">
                    <h2>CHAPTER</h2>
                    <p class="detail-chapter-sort"><a href="#" class="detail-chapter-sort-act">Mới nhất</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a
                            href="#">Cũ nhất</a></p>
                </div>
                <div class="spacer10"></div>
                <div class="list-chapter-wrp">
                    <div class="list-chapter-head">
                        <h4 class="list-chapter-head-1">Chapter</h4>
                        <h4 class="list-chapter-head-2">Nhóm dịch</h4>
                        <h4 class="list-chapter-head-3">Lượt xem</h4>
                        <h4 class="list-chapter-head-4">Cập nhật</h4>
                        <div class="clear"></div>
                    </div>
                    <div class="list-chapter-body">
                        <div class="list-chapter-line" *ngFor="#chapter of chapters">
                            <div class="list-chapter-line-1">
                                <a [routerLink]="['Chapter',{slug:chapter.slug}]"><i class="fa fa-book"></i>&nbsp;&nbsp;Chapter
                                    {{chapter.chapter}}</a>
                            </div>
                            <div class="list-chapter-line-2">
                                <template ngFor #group [ngForOf]="chapter.groups">
                                    <p><img src="{{group.thumbnail}}" alt="{{group.title}}"/> <a href="#">{{group.title}}</a>
                                    </p>
                                </template>
                            </div>
                            <div class="list-chapter-line-3">
                                <p>12,939</p>
                            </div>
                            <div class="list-chapter-line-4">
                                <p>{{convertDate(chapter.created_at)}}</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="spacer20"></div>
            <div class="detail-comment-box">
                <!-- Facebook Comments -->
            </div>
            <div class="spacer20"></div>
        </div>
        <div class="sidebar">
            <sidebar></sidebar>
        </div>
        <div class="clear"></div>
    </div>