/* DeathPlace - Created on Aug 10, 2015 */
/* Reset CSS */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0
}

html, body {
    font-family: 'OpenSans', sans-serif;
    color: #000;
    font-size: 15px
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

b, strong {
    font-weight: bold
}

img {
    font-size: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic
}

li {
    display: list-item;
}

ul li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th, td, caption {
    font-weight: normal;
    vertical-align: top;
    text-align: center
}

svg {
    overflow: hidden
}

a {
    text-decoration: none;
    color: #333
}

input, textarea, a, select, option {
    outline: none !important
}

/* Fontface embed */

@font-face {
    font-family: 'OpenSans';
    src: url('./fonts/OpenSans.eot?#iefix') format('embedded-opentype'), url('./fonts/OpenSans.woff') format('woff'), url('./fonts/OpenSans.ttf') format('truetype'), url('./fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('./fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('./fonts/OpenSans-Bold.woff') format('woff'), url('./fonts/OpenSans-Bold.ttf') format('truetype'), url('./fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('./fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/OpenSans-BoldItalic.woff') format('woff'), url('./fonts/OpenSans-BoldItalic.ttf') format('truetype'), url('./fonts/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-CondensedLight';
    src: url('./fonts/OpenSans-CondensedLight.eot?#iefix') format('embedded-opentype'), url('./fonts/OpenSans-CondensedLight.woff') format('woff'), url('./fonts/OpenSans-CondensedLight.ttf') format('truetype'), url('./fonts/OpenSans-CondensedLight.svg#OpenSans-CondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-CondensedLightItalic';
    src: url('./fonts/OpenSans-CondensedLightItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/OpenSans-CondensedLightItalic.woff') format('woff'), url('./fonts/OpenSans-CondensedLightItalic.ttf') format('truetype'), url('./fonts/OpenSans-CondensedLightItalic.svg#OpenSans-CondensedLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Extrabold';
    src: url('./fonts/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'), url('./fonts/OpenSans-Extrabold.woff') format('woff'), url('./fonts/OpenSans-Extrabold.ttf') format('truetype'), url('./fonts/OpenSans-Extrabold.svg#OpenSans-Extrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExtraboldItalic';
    src: url('./fonts/OpenSans-ExtraboldItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/OpenSans-ExtraboldItalic.woff') format('woff'), url('./fonts/OpenSans-ExtraboldItalic.ttf') format('truetype'), url('./fonts/OpenSans-ExtraboldItalic.svg#OpenSans-ExtraboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('./fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), url('./fonts/OpenSans-Italic.woff') format('woff'), url('./fonts/OpenSans-Italic.ttf') format('truetype'), url('./fonts/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('./fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('./fonts/OpenSans-Light.woff') format('woff'), url('./fonts/OpenSans-Light.ttf') format('truetype'), url('./fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('./fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('./fonts/OpenSans-Semibold.woff') format('woff'), url('./fonts/OpenSans-Semibold.ttf') format('truetype'), url('./fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('./fonts/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/OpenSans-SemiboldItalic.woff') format('woff'), url('./fonts/OpenSans-SemiboldItalic.ttf') format('truetype'), url('./fonts/OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight-Italic';
    src: url('./fonts/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'), url('./fonts/OpenSansLight-Italic.woff') format('woff'), url('./fonts/OpenSansLight-Italic.ttf') format('truetype'), url('./fonts/OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Master CSS */
* {
    margin: 0;
    padding: 0
}

img {
    border: 0
}

body {
    font-family: 'OpenSans', sans-serif;
    color: #000;
    font-size: 16px;
    position: relative;
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.inn {
    width: 1170px;
    margin: auto
}

.clear {
    width: 100%;
    height: 0px;
    clear: both
}

.spacer1 {
    width: 100%;
    height: 1px;
    clear: both
}

.spacer2 {
    width: 100%;
    height: 2px;
    clear: both
}

.spacer3 {
    width: 100%;
    height: 3px;
    clear: both
}

.spacer4 {
    width: 100%;
    height: 4px;
    clear: both
}

.spacer5 {
    width: 100%;
    height: 5px;
    clear: both
}

.spacer6 {
    width: 100%;
    height: 6px;
    clear: both
}

.spacer7 {
    width: 100%;
    height: 7px;
    clear: both
}

.spacer8 {
    width: 100%;
    height: 8px;
    clear: both
}

.spacer9 {
    width: 100%;
    height: 9px;
    clear: both
}

.spacer10 {
    width: 100%;
    height: 10px;
    clear: both
}

.spacer15 {
    width: 100%;
    height: 15px;
    clear: both
}

.spacer20 {
    width: 100%;
    height: 20px;
    clear: both
}

.fLeft {
    float: left !important;
}

.fRight {
    float: right !important;
}

.noMar {
    margin: 0 !important;
}

.noMarTop {
    margin-top: 0 !important;
}

.noMarBtm {
    margin-bottom: 0 !important;
}

.noMarLeft {
    margin-left: 0 !important;
}

.noMarRight {
    margin-right: 0 !important;
}

.noBor {
    border: none !important;
}

a img {
    border: none;
    outline: none;
}

.abs {
    position: absolute !important;
}

.rel {
    position: relative !important;
}

.inner {
    margin: auto;
    width: 1180px;
}

strong {
    font-weight: normal;
    font-family: 'OpenSans-Bold', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'OpenSans-Bold', sans-serif;
}

input, textarea, a, select, option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.center {
    width: 0px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
}

/*Content*/
.content {
    font-size: 16px;
}

.content img {
    margin: 10px auto;
}

.content ul {
    padding-left: 20px;
    margin-bottom: 25px;
}

.content ul li {
    line-height: 20px;
    list-style: disc !important;
    margin-bottom: 10px;
}

.content ol li {
    margin-left: 18px;
}

.content a:hover {
    text-decoration: underline;
}

.content p {
    margin-bottom: 20px;
    font-weight: lighter;
    line-height: 21px;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    margin-bottom: 15px;
}

.content h1 {
    font-size: 19px;
}

.content h2 {
    font-size: 18px;
}

.content h3 {
    font-size: 17px;
}

.content h4 {
    font-size: 16px;
}

.content h5 {
    font-size: 15px;
}

.content h6 {
    font-size: 14px;
}

.content table {
    border: 1px solid #333;
}

.content table td, .content table th {
    padding: 5px;
    border: 1px solid #333;
}

.content table th {
    background: #F2F2F2;
}

/* Scrollbar */
.ps-container.ps-active-x > .ps-scrollbar-x-rail, .ps-container.ps-active-y > .ps-scrollbar-y-rail {
    display: block;
}

.ps-container > .ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
    -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
    -o-transition: background-color 0.2s linear, opacity 0.2s linear;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    bottom: 3px;
    /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 8px;
}

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
    position: absolute;
    /* please don't change 'position' */
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    bottom: 0;
    /* there must be 'bottom' for ps-scrollbar-x */
    height: 8px;
}

.ps-container > .ps-scrollbar-x-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
}

.ps-container > .ps-scrollbar-y-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
    -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
    -o-transition: background-color 0.2s linear, opacity 0.2s linear;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    right: 0;
    /* there must be 'right' for ps-scrollbar-y-rail */
    width: 8px;
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    position: absolute;
    /* please don't change 'position' */
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    right: 0;
    /* there must be 'right' for ps-scrollbar-y */
    width: 8px;
}

.ps-container > .ps-scrollbar-y-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
}

.ps-container:hover > .ps-scrollbar-x-rail, .ps-container:hover > .ps-scrollbar-y-rail {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
}

.ps-container:hover > .ps-scrollbar-x-rail.in-scrolling, .ps-container:hover > .ps-scrollbar-y-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
}

.ps-container:hover > .ps-scrollbar-x-rail:hover {
    background-color: #eee;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
}

.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
    background-color: #999;
}

.ps-container:hover > .ps-scrollbar-y-rail:hover {
    background-color: #eee;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
}

.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
    background-color: #999;
}

body {
    background: url(images/background.jpg) #000 repeat center top;
}

#top {
    position: relative;
    margin-bottom: 30px;
}

.top-above {
    height: 30px;
    background: #1d1d1d;
    color: #fff;
}

.top-above-right {
    width: 50%;
    float: right;
    text-align: right;
    line-height: 30px;
}

.top-above-right p {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 11px;
}

.top-above-right p a {
    color: #fff;
}

.top-above-right p a:hover {
    color: #bf0000;
}

.top-below {
    position: relative;
    height: 120px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c2c2c+0,181818+100 */
    background: #2c2c2c; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjMmMyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxODE4MTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #2c2c2c 0%, #181818 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c2c2c), color-stop(100%, #181818)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2c2c2c 0%, #181818 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2c2c2c 0%, #181818 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2c2c2c 0%, #181818 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2c2c2c 0%, #181818 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c2c2c', endColorstr='#181818', GradientType=0); /* IE6-8 */
}

.top-below .inner {
    position: relative;
}

.top-below-logo {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 170px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c2c2c+0,000000+100 */
    background: #2c2c2c; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjMmMyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #2c2c2c 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c2c2c), color-stop(100%, #000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2c2c2c 0%, #000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2c2c2c 0%, #000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2c2c2c 0%, #000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2c2c2c 0%, #000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c2c2c', endColorstr='#000000', GradientType=0); /* IE6-8 */
}

.top-below-logo img {
    display: inline-block;
}

.top-below-nav {
    float: left;
    margin-left: 190px;
    padding-top: 20px;
}

ul.top-menu {
}

ul.top-menu li {
    float: left;
    display: block;
    margin-right: 10px;
}

ul.top-menu li a {
    display: block;
    width: 128px;
    height: 73px;
    border: 1px solid #4d4d4d;
    background-color: #393939;
    color: #fff;
    font-size: 15px;
    font-family: 'OpenSans-Bold', sans-serif;
    padding: 5px 0 0 10px;
}

ul.top-menu li a:hover {
    color: #fff;
    background: #bf0000;
    border-color: #bf0000;
}

.top-menu-item-1 a {
    background: url(images/top-menu-item-1.png) #393939 no-repeat right bottom;
}

.top-menu-item-2 a {
    background: url(images/top-menu-item-2.png) #393939 no-repeat right bottom;
}

.top-menu-item-3 a {
    background: url(images/top-menu-item-3.png) #393939 no-repeat right bottom;
}

.top-menu-item-4 a {
    background: url(images/top-menu-item-4.png) #393939 no-repeat right bottom;
}

.top-menu-item-5 a {
    background: url(images/top-menu-item-5.png) #393939 no-repeat right bottom;
}

.top-menu-item-1 a:hover, .top-menu-item-1-hover a {
    background: url(images/top-menu-item-1-hover.png) #bf0000 no-repeat right bottom !important;
    border-color: #bf0000 !important;
}

.top-menu-item-2 a:hover, .top-menu-item-2-hover a {
    background: url(images/top-menu-item-2-hover.png) #bf0000 no-repeat right bottom !important;
    border-color: #bf0000 !important;
}

.top-menu-item-3 a:hover, .top-menu-item-3-hover a {
    background: url(images/top-menu-item-3-hover.png) #bf0000 no-repeat right bottom !important;
    border-color: #bf0000 !important;
}

.top-menu-item-4 a:hover, .top-menu-item-4-hover a {
    background: url(images/top-menu-item-4-hover.png) #bf0000 no-repeat right bottom !important;
    border-color: #bf0000 !important;
}

.top-menu-item-5 a:hover, .top-menu-item-5-hover a {
    background: url(images/top-menu-item-5-hover.png) #bf0000 no-repeat right bottom !important;
    border-color: #bf0000 !important;
}

.top-below-right {
    float: right;
    width: 230px;
    text-align: right;
    padding-top: 20px;
}

.top-below-right-up {
    text-align: right;
    height: 20px;
    line-height: 20px;
    color: #fff;
    font-size: 13px;
}

.top-below-right-up a {
    color: #fff;
}

.top-below-right-up a:hover {
    color: #bf0000;
}

.top-below-right-down {
    position: relative;
}

.top-search-wrp {
    width: 230px;
    height: 40px;
    position: relative;
    float: right;
    margin-top: 20px;
}

.top-search-inp {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    padding: 0 55px 0 25px;
    background: #4d4d4d;
    border: none;
    color: #838383;
    font-family: 'OpenSans', sans-serif;
    font-size: 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.top-search-btn {
    display: block;
    width: 48px;
    height: 48px;
    background: #393939;
    border: 1px solid #4d4d4d;
    position: absolute;
    right: 0;
    top: -5px;
    border: 1px solid #4d4d4d;
    cursor: pointer;
    font-size: 20px;
    color: #4d4d4d;
    text-align: center;
    line-height: 40px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.top-search-btn:hover {
    background: #2d2d2d;
    color: #4d4d4d;
}

.top-extend {
    height: 33px;
    padding-top: 17px;
    color: #c3c3c3;
    font-size: 13px;
}

.top-extend p {
    padding-left: 190px;
}

.top-extend a {
    color: #c3c3c3;
}

.top-extend a:hover {
    color: #bf0000;
}

#btm {
    margin-bottom: 150px;
    position: relative;
}

#btm .inner {
    position: relative;
}

p.copyright {
    font-size: 13px;
    text-align: left;
    width: 100%;
    color: #fff;
}

#btm img {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.move-top {
    display: block;
    width: 50px;
    height: 50px;
    background: #bf0000;
    text-align: center;
    line-height: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.move-top:hover {
    color: #fff;
}

#mid {
    color: #fff;
    margin-bottom: 20px;
}

#mid .inner {
    background: #333232;
}

.home-featured {
    padding: 20px 20px 20px;
}

.main {
    width: 780px;
    float: left;
    margin: 0 0 0 20px;
}

.sidebar {
    width: 310px;
    float: right;
    margin-right: 20px;
}

.home-latest {
}

.box-head {
    width: 778px;
    height: 58px;
    background: url(images/box-head.jpg) transparent repeat center top;
    border: 1px solid #202020;
    position: relative;
    margin-bottom: 10px;
}

.box-head h2 {
    font-size: 20px;
    font-family: 'OpenSans-Bold', sans-serif;
    color: #bf0000;
    height: 58px;
    line-height: 58px;
    margin-left: 20px;
}

a.box-head-refresh {
    display: block;
    width: 60px;
    height: 58px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 58px;
    text-align: center;
    color: #bf0000;
}

.box-head .detail-chapter-sort {
    display: block;
    width: 200px;
    text-align: right;
    height: 40px;
    position: absolute;
    top: 9px;
    right: 20px;
    color: #757575;
    font-size: 13px;
    line-height: 40px;
}

.box-head .detail-chapter-sort a {
    color: #757575;
}

.box-head .detail-chapter-sort a:hover, .box-head .detail-chapter-sort a.detail-chapter-sort-act {
    color: #fff;
}

.box-body {
}

.home-latest-head-list {
    width: 780px;
    height: 35px;
    line-height: 35px;
    background: #474747;
    border-bottom: 1px solid #5b5b5b;
    font-size: 13px;
    color: #838383;
}

.home-latest-head-list h4 {
    font-family: 'OpenSans', sans-serif;
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
    float: left;
}

.home-latest-head-list h4.home-latest-head-list-1 {
    width: 340px;
    float: left;
    margin-left: 55px;
    margin-right: 20px;
}

.home-latest-head-list h4.home-latest-head-list-2 {
    width: 210px;
    float: left;
    margin-left: 0;
    margin-right: 20px;
}

.home-latest-head-list h4.home-latest-head-list-2 {
    width: 135px;
    float: left;
    margin-left: 0;
}

.home-latest-comic {
    padding: 20px 0 20px;
    border-bottom: 1px solid #5b5b5b;
}

.home-latest-comic a {
    color: #fff;
}

.home-latest-comic a:hover {
    color: #bf0000;
}

.home-latest-comic-left {
    width: 65px;
    float: left;
    margin-right: 20px;
}

.home-latest-comic-right {
    width: 695px;
    float: left;
}

.home-latest-comic-right-title {
    height: 35px;
    line-height: 35px;
}

.home-latest-comic-right-title h3 {
    color: #fff;
    font-size: 15px;
}

.home-latest-comic-right-title h3 a {
    color: #fff;
}

.home-latest-chapter-line {
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    font-family: 'OpenSans-Light', sans-serif;
    padding-left: 25px;
}

.home-latest-chapter-line:hover {
    background: #3B3B3B;
}

.home-latest-chapter-line-1 {
    width: 295px;
    float: left;
    margin-right: 20px;
}

.home-latest-chapter-line-2 {
    width: 210px;
    float: left;
    margin-right: 20px;
}

.home-latest-chapter-line-3 {
    width: 115px;
    float: left;
}

.home-latest-chapter-line-2 p {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    float: left;
    margin-right: 10px;
}

.home-latest-chapter-line-2 img {
    display: inline-block;
    max-height: 25px;
}

.home-latest-chapter-line-2 a {
    display: inline-block;
    height: 25px;
    float: left;
}

.home-latest-chapter-line i {
    color: #777;
}

.box-paging {
    padding-top: 30px;
    margin-bottom: 50px;
    height: 35px;
    position: relative;
}

a.box-paging-left {
    display: block;
    position: absolute;
    left: 0;
    top: 30px;
    width: 120px;
    height: 35px;
    line-height: 35px;
    color: #bf0000;
    font-size: 15px;
    background: #1e1e1e;
    text-align: center;
}

a.box-paging-right {
    display: block;
    position: absolute;
    right: 0;
    top: 30px;
    width: 120px;
    height: 35px;
    line-height: 35px;
    color: #bf0000;
    font-size: 15px;
    background: #1e1e1e;
    text-align: center;
}

a.box-paging-left:hover, a.box-paging-right:hover {
    background: #bf0000;
    color: #fff;
}

.box-paging-mid {
    text-align: center;
    font-size: 0;
}

.box-paging-mid a, .box-paging-mid span {
    display: inline-block;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    margin: 0 1px;
}

.box-paging-mid a {
    background: #555555;
}

.box-paging-mid a:hover {
    background: #bf0000;
    cursor: pointer
}

.box-paging-mid span.active {
    background: #bf0000;
}

.sidebar-box {
    border-bottom: 6px solid #5b5b5b;
    margin-bottom: 30px;
}

.sidebar-box a {
    color: #fff;
}

.sidebar-head {
    width: 308px;
    height: 58px;
    background: url(images/box-head.jpg) transparent repeat center top;
    border: 1px solid #202020;
    position: relative;
    margin-bottom: 0;
}

.sidebar-head h2 {
    font-size: 20px;
    font-family: 'OpenSans-Bold', sans-serif;
    color: #bf0000;
    height: 58px;
    line-height: 58px;
    margin-left: 20px;
}

.sidebar-hot-item {
    padding: 10px 0;
    border-bottom: 1px solid #5b5b5b;
}

.sidebar-hot-item-left {
    width: 55px;
    float: left;
    margin-right: 10px;
}

.sidebar-hot-item-left a {
    display: block;
}

.sidebar-hot-item-left a img {
    display: block;
    max-width: 100%;
    height: auto;
}

.sidebar-hot-item-right {
    width: 245px;
    float: left;
}

.sidebar-hot-item-right-title {
    height: 25px;
    line-height: 25px;
    float: left;
    padding-top: 5px;
    width: 100%;
    margin-bottom: 3px;
}

.sidebar-hot-item-right-title h3 {
    font-size: 15px;
}

.sidebar-hot-item-right-title h3 a {
    color: #fff;
}

.sidebar-hot-item-right-title h3 a:hover {
    color: #bf0000;
}

.sidebar-hot-item-right-chapter {
    padding-left: 20px;
    height: 25px;
    line-height: 25px;
    width: 225px;
    float: left;
}

.sidebar-hot-item-right-chapter:hover {
    background: #3B3B3B;
}

.sidebar-hot-item-right-chapter p {
    font-size: 13px;
    font-family: 'OpenSans-Light', sans-serif;
}

.sidebar-hot-item-right-chapter p a {
    color: #fff;
}

.sidebar-hot-item-right-chapter p a:hover {
    color: #bf0000;
}

.sidebar-hot-item-right-chapter i {
    color: #777;
}

.sidebar-new-item {
    padding: 10px 0;
    border-bottom: 1px solid #5b5b5b;
}

.sidebar-new-item-left {
    width: 55px;
    float: left;
    margin-right: 10px;
}

.sidebar-new-item-left a {
    display: block;
}

.sidebar-new-item-left a img {
    display: block;
    max-width: 100%;
    height: auto;
}

.sidebar-new-item-right {
    width: 245px;
    float: left;
}

.sidebar-new-item-right-title {
    height: 25px;
    line-height: 25px;
    float: left;
    padding-top: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.sidebar-new-item-right-title h3 {
    font-size: 15px;
}

.sidebar-new-item-right-title h3 a {
    color: #fff;
}

.sidebar-new-item-right-title h3 a:hover {
    color: #bf0000;
}

.sidebar-new-item-right-info {
    padding-left: 20px;
}

.sidebar-new-item-right-info p {
    font-size: 13px;
    font-family: 'OpenSans-Light', sans-serif;
    margin-bottom: 10px;
}

/* The Preloader in the Slider */
#iCarousel-preloader {
    position: absolute;
    z-index: 1000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: #000 1px solid;
    border-color: rgba(0, 0, 0, 0.6);
    padding: 1px;
    width: 150px;
    height: 3px;
}

#iCarousel-preloader div {
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 3px;
    background: #000;
    background: rgba(0, 0, 0, 0.6);
    width: 0px;
}

/* The timer in the Slider */
#iCarousel-timer {
    position: absolute;
    z-index: 1000;
    border-radius: 5px;
    cursor: pointer;
    display: none !important;
}

#iCarousel-timer div {
    border-radius: 3px;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
}

#icarousel {
    width: 600px;
    height: 400px;
    position: relative;
    margin: auto;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1500;
    -moz-perspective: 1500;
    -o-perspective: 1500;
    -ms-perspective: 1500;
    perspective: 1500;
}

#icarousel div.slide {
    border-radius: 0;
    /*	border: 5px #000 solid;*/
    border: none;
    width: 600px;
    height: 400px;
    background: #000 !important;
}

#icarousel div.slide .featured-item {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

#icarousel div.current .featured-item {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

/* The Navigation buttons in the Slider */
a.iCarouselNav {
    display: block;
    position: absolute;
    top: 140px;
    width: 43px;
    height: 43px;
    /*	background: url(images/arrows.png) no-repeat;*/
    z-index: 1000;
    /*	text-indent: -9999px;*/
    font-size: 75px;
    color: #afafaf;
    cursor: pointer;
}

a#iCarouselPrev {
    left: -75px;
    background-position: left top;
}

a#iCarouselPrev:hover {
    background-position: left bottom;
    color: #fff;
}

a#iCarouselNext {
    right: -93px;
    background-position: right top;
}

a#iCarouselNext:hover {
    background-position: right bottom;
    color: #fff;
}

.featured-item {
    width: 580px;
    height: 384px;
    padding: 10px 10px 6px 10px;
    background: #474747;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.35);
}

.featured-item-left {
    width: 264px;
    float: left;
    height: 474px;
    background: url(images/featured-item-left.png) transparent no-repeat center top;
    margin-right: 26px;
}

.featured-item-right {
    width: 280px;
    float: left;
    padding-top: 20px;
    position: relative;
}

.featured-item-right h2 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 25px;
}

.featured-item-right h2 a {
    color: #fff;
}

.featured-item-right h2 a:hover {
    color: #bf0000;
}

.featured-item-right-info {
    font-size: 13px;
    height: 234px;
    overflow: hidden;
}

.featured-item-right-info p {
    line-height: 18px;
    margin-bottom: 18px;
    font-family: 'OpenSans-Light', sans-serif;
}

.featured-views {
    width: 160px;
    height: 45px;
    color: #fff;
    font-family: 'OpenSans-Light', sans-serif;
    font-size: 13px;
    line-height: 45px;
    position: absolute;
    right: 140px;
    bottom: 10px;
    background: #3d3d3d;
    text-align: center;
}

a.featured-read {
    display: block;
    width: 120px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 13px;
    text-align: center;
    background: #bf0000;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

a.featured-read:hover {
    background: #9e0000;
}

.single {
    width: 1140px;
    float: left;
    margin: 0 0 0 20px;
}

.breadcrumb {
    padding: 20px;
}

.breadcrumb p {
    font-size: 13px;
    color: #838383;
}

.breadcrumb p a {
    color: #838383;
    font-size: 13px;
}

.breadcrumb p a:hover {
    color: #bf0000;
}

.full-search {
    margin: 0 20px 45px;
    background: #474747;
    height: 40px;
    position: relative;
    border-bottom: 1px solid #5b5b5b;
    padding: 15px;
}

.full-search-left {
    width: 850px;
    height: 40px;
    float: left;
}

.full-search-right {
    width: 250px;
    height: 40px;
    float: right;
    text-align: right;
    line-height: 40px;
}

a.full-search-advantage-toggle {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #707070;
    font-size: 15px;
}

a.full-search-advantage-toggle:hover {
    color: #bf0000;
}

.full-search-inp {
    display: block;
    width: 460px;
    height: 40px;
    line-height: 40px;
    float: left;
    border: none;
    padding: 0 20px;
    background: #707070;
    font-size: 15px;
    font-family: 'OpenSans-Italic', sans-serif;
    color: #333;
    margin-right: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.full-search-select {
    display: block;
    width: 170px;
    height: 40px;
    line-height: 40px;
    float: left;
    border: none;
    padding: 0 20px;
    background: url(images/full-search-select.png) #707070 no-repeat right;
    font-size: 15px;
    font-family: 'OpenSans-Italic', sans-serif;
    color: #333;
    margin-right: 5px;
    color: #333;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.full-search-inp::-webkit-input-placeholder {
    color: #333
}

.full-search-inp:-moz-placeholder {
    color: #333
}

.full-search-inp::-moz-placeholder {
    color: #333
}

.full-search-inp:-ms-input-placeholder {
    color: #333
}

.full-search-btn {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    float: left;
    color: #fff;
    background: #bf0000;
    border: none;
    cursor: pointer;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 15px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.full-search-btn:hover {
    background: #9e0000;
}

.box-list {
}

.box-list .box-head {
    width: 1138px;
}

.box-list-head-sort {
    width: 300px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.box-list-head-sort p {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: left;
    float: left;
    font-size: 15px;
    color: #707070;
}

.box-list-head-sort-select {
    display: block;
    float: right;
    width: 190px;
    height: 40px;
    line-height: 40px;
    border: none;
    padding: 0 20px;
    background: url(images/box-list-head-sort-select.png) #333232 no-repeat right;
    font-size: 15px;
    font-family: 'OpenSans-Italic', sans-serif;
    color: #707070;
    margin-right: 5px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.box-list-head-list {
    width: 1140px;
}

.box-list-head-list h4.box-list-head-list-1, .box-list-comic-col-1 {
    width: 380px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.box-list-head-list h4.box-list-head-list-2, .box-list-comic-col-2 {
    width: 160px;
    float: left;
    margin-left: 0;
    margin-right: 20px;
}

.box-list-head-list h4.box-list-head-list-3, .box-list-comic-col-3 {
    width: 140px;
    float: left;
    margin-left: 0;
    margin-right: 20px;
}

.box-list-head-list h4.box-list-head-list-4, .box-list-comic-col-4 {
    width: 90px;
    float: left;
    margin-left: 0;
    margin-right: 20px;
}

.box-list-head-list h4.box-list-head-list-5, .box-list-comic-col-5 {
    width: 100px;
    float: left;
    margin-left: 0;
    margin-right: 20px;
}

.box-list-head-list h4.box-list-head-list-6, .box-list-comic-col-6 {
    width: 130px;
    float: left;
    margin-left: 0;
    margin-right: 20px;
}

.box-list-comic {
    padding: 20px 0 10px;
    border-bottom: 1px solid #5b5b5b;
    font-size: 13px;
    line-height: 15px;
}

.box-list-comic a {
    color: #fff;
    font-family: 'OpenSans-Light', sans-serif;
}

.box-list-comic p {
    font-family: 'OpenSans-Light', sans-serif;
}

.box-list-comic-col-1 h3 {
    line-height: 15px;
}

.box-list-comic-col-1 h3 a {
    display: block;
    font-family: 'OpenSans-Bold', sans-serif;
}

.box-list-comic-col-1 h3 a img {
    display: block;
    width: 22px;
    height: 15px;
    float: left;
    margin-right: 10px;
}

.box-list-comic-col-1 h3 a span {
    display: block;
    float: left;
    height: 15px;
    line-height: 15px;
}

.box-list-comic-col-1 h3 a:hover {
    color: #bf0000;
}

.box-list-comic-col-3 p {
    display: inline-block;
    line-height: 15px;
    float: left;
    margin-right: 10px;
}

.box-list-comic-col-3 img {
    display: inline-block;
    max-height: 15px;
}

.box-list-comic-col-3 a {
    display: inline-block;
    height: 25px;
    float: left;
}

.box-list-comic-col-3 a:hover {
    color: #bf0000;
}

.box-list-comic:hover {
    background: #3B3B3B;
}

.box-list-comic-col-4 p {
    color: #ffba00;
}

.comic-detail {
    background: #474747;
    padding: 10px 10px 20px 10px;
}

.comic-detail-left {
    width: 260px;
    height: 380px;
    float: left;
    background: url(images/featured-item-left.png) transparent no-repeat left top;
    padding: 0 4px 4px 0;
    margin-right: 26px;
    overflow: hidden;
}

.comic-detail-right {
    width: 460px;
    float: left;
    padding-top: 15px;
}

.comic-detail-right h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

.comic-detail-right h1 a {
    color: #fff;
}

.comic-detail-right h1 a:hover {
    color: #bf0000;
}

.comic-detail-info {
    font-size: 13px;
    font-family: 'OpenSans-Light', sans-serif;
    line-height: 18px;
}

.comic-detail-info p {
    margin-bottom: 18px;
}

.comic-detail-info a {
    color: #fff;
}

.comic-detail-info a:hover {
    color: #bf0000;
}

.comic-detail-meta {
}

.comic-detail-meta-views {
    display: block;
    float: left;
    height: 45px;
    line-height: 45px;
    background: #3d3d3d;
    color: #fff;
    font-size: 13px;
    font-family: 'OpenSans-Light', sans-serif;
    float: left;
    padding: 0 20px;
}

.list-chapter-wrp {
    height: 200px;
    position: relative;
    overflow: hidden;
    border-bottom: 5px solid #5b5b5b;
}

.list-chapter-head {
    width: 750px;
    height: 35px;
    line-height: 35px;
    background: #474747;
    border-bottom: 1px solid #5b5b5b;
    font-size: 13px;
    color: #838383;
}

.list-chapter-head h4 {
    font-family: 'OpenSans', sans-serif;
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
    float: left;
}

.list-chapter-head h4.list-chapter-head-1 {
    width: 280px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.list-chapter-head h4.list-chapter-head-2 {
    width: 150px;
    float: left;
    margin-left: 0;
    margin-right: 20px;
}

.list-chapter-head h4.list-chapter-head-3 {
    width: 100px;
    float: left;
    margin-left: 0;
    margin-right: 20px;
}

.list-chapter-head h4.list-chapter-head-4 {
    width: 120px;
    float: left;
    margin-left: 0;
}

.list-chapter-body {
    font-size: 13px;
    font-family: 'OpenSans-Light', sans-serif;
}

.list-chapter-body a {
    color: #fff;
}

.list-chapter-body a:hover {
    color: #bf0000;
}

.list-chapter-line {
    padding: 20px 0 20px;
    border-bottom: 1px solid #5b5b5b;
    font-size: 13px;
    line-height: 15px;
    width: 750px;
}

.list-chapter-line:hover {
    background: #3B3B3B;
}

.list-chapter-line-1 {
    width: 280px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.list-chapter-line-2 {
    width: 150px;
    float: left;
    margin-left: 0;
    margin-right: 20px;
}

.list-chapter-line-3 {
    width: 100px;
    float: left;
    margin-left: 0;
    margin-right: 20px;
}

.list-chapter-line-4 {
    width: 120px;
    float: left;
    margin-left: 0;
}

.list-chapter-line-2 p {
    display: inline-block;
    line-height: 15px;
    float: left;
    margin-right: 10px;
}

.list-chapter-line-2 img {
    display: inline-block;
    max-height: 15px;
}

.uploaded-item {
    width: 360px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #5b5b5b;
    padding-bottom: 20px;
}

.uploaded-item a {
    color: #fff;
}

.uploaded-item a:hover {
    color: #bf0000;
}

.uploaded-item-left {
    width: 65px;
    float: left;
    margin-right: 20px;
}

.uploaded-item-left img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.uploaded-item-right {
    width: 275px;
    float: left;
    font-size: 13px;
    font-family: 'OpenSans-Light', sans-serif;
}

.uploaded-item-right h3 {
    font-size: 15px;
    padding-top: 5px;
    margin-bottom: 10px;
}

.uploaded-item-right p {
    font-size: 13px;
    margin-bottom: 5px;
}

.chapter-jumping {
    margin: 0 20px 45px;
    background: #474747;
    height: 40px;
    position: relative;
    border-bottom: 1px solid #5b5b5b;
    padding: 15px;
    position: relative;
}

.chapter-jumping-select {
    display: block;
    width: 460px;
    height: 40px;
    line-height: 40px;
    float: none;
    border: none;
    padding: 0 20px;
    background: url(images/full-search-select.png) #707070 no-repeat right;
    font-size: 15px;
    font-family: 'OpenSans-Italic', sans-serif;
    color: #333;
    margin-right: 5px;
    color: #333;
    cursor: pointer;
    margin: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.chapter-jumping-prev {
    display: block;
    width: 150px;
    height: 40px;
    text-align: center;
    position: absolute;
    left: 15px;
    top: 15px;
    background: #bf0000;
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-family: 'OpenSans-Bold', sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.chapter-jumping-next {
    display: block;
    width: 150px;
    height: 40px;
    text-align: center;
    position: absolute;
    right: 15px;
    top: 15px;
    background: #bf0000;
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-family: 'OpenSans-Bold', sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.chapter-jumping-next:hover, .chapter-jumping-prev:hover {
    background: #9e0000;
}

.chapter-main {
    width: 100%;
    text-align: center;
}

.chapter-main img {
    display: inline-block;
    margin-bottom: 20px;
    max-width: 100%;
}

.chapter-jumping-stick {
    width: 100%;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 15px 0;
    border-top: 1px solid #5b5b5b;
    border-bottom: none;
}

.mobile-wrp {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.9);
    display: none;
}

.mobile-inner {
    width: 90%;
    margin: auto;
    padding: 30px 0;
}

ul.mobile-menu {
}

ul.mobile-menu li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0 20px;
    color: #fff;
}

ul.mobile-menu li a {
    height: 65px;
    line-height: 65px;
    width: 100%;
    display: block;
    color: #fff;
    font-size: 15px;
}

ul.mobile-menu li a i {
    font-size: 30px;
    text-align: center;
    display: block;
    margin: auto;
    height: 65px;
    line-height: 65px;
}

.mobile-close {
    display: block;
    position: absolute;
    color: #fff;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}

.m-search-inp {
    border: none;
    height: 50px;
    line-height: 50px;
    width: 80%;
    float: left;
    padding: 0 3%;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
    font-family: 'OpenSans', sans-serif;
}

.m-search-btn {
    display: block;
    float: left;
    height: 50px;
    width: 14%;
    border: none;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    background: #929292;
    outline: none;
    cursor: pointer;
}

.top-above-right {
    position: relative;
}

.top-form {
    position: absolute;
    right: 0;
    top: 30px;
    background: #474747;
    z-index: 100;
    width: 200px;
    padding: 20px;
    text-align: left;
    padding-bottom: 40px;
    padding-top: 10px;
    display: none;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.button-facebook {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
    font-size: 12px;
    background: #004B77
}

.button-google {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
    font-size: 12px;
    background: #C90000
}

.button-facebook:hover {
    background: #046FAE
}

.button-google:hover {
    background: #f00;
}

.top-form-inp {
    border: none;
    display: block;
    width: 90%;
    padding: 0 5%;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    font-family: 'OpenSans', sans-serif;
    color: #000;
    margin-bottom: 10px;
}

.top-form-btn {
    border: none;
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    font-family: 'OpenSans', sans-serif;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    background: #7B7B7B;
    font-family: 'OpenSans-Bold', sans-serif;
    cursor: pointer;
}

.top-form-btn:hover {
    background: #BF0000;
}

.top-form-close {
    display: block;
    font-size: 20px;
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
}

.top-form-close:hover {
    color: #BF0000;
}

.top-form h3 {
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
}

/* Show for 720px */
@media screen and (min-width: 750px) and (max-width: 1210px) {
    .inner {
        width: 720px;
    }

    a#iCarouselPrev {
        left: -35px;
    }

    a#iCarouselNext {
        right: -53px;
    }

    .main {
        width: 680px;
    }

    .box-head {
        width: 678px;
    }

    .home-latest-head-list {
        width: 680px;
    }

    .home-latest-head-list h4.home-latest-head-list-1 {
        width: 290px;
    }

    .home-latest-head-list h4.home-latest-head-list-2 {
        width: 155px;
    }

    .home-latest-comic-right {
        width: 595px;
    }

    .home-latest-chapter-line-1 {
        width: 235px;
    }

    .home-latest-chapter-line-2 {
        width: 155px;
    }

    .sidebar {
        width: 680px;
    }

    .sidebar-box {
        width: 330px;
        float: left;
    }

    .sidebar-box-1 {
        margin-right: 20px;
    }

    .sidebar-head {
        width: 328px;
    }

    .sidebar-hot-item-right {
        width: 265px;
    }

    .sidebar-hot-item-right-chapter {
        width: 245px;
    }

    ul.top-menu li {
        margin-bottom: 10px;
    }

    .top-extend {
        display: none;
    }

    ul.top-menu li a {
        width: 84px;
        height: 70px;
        font-size: 13px;
    }

    ul.top-menu li:last-child {
        margin-right: 0;
    }

    .top-below-nav {
        margin-left: 200px;
    }

    .top-below-right {
        width: 520px;
    }

    .top-below-right-up {
        width: 50%;
        text-align: left;
        height: 50px;
        line-height: 50px;
        float: left;
    }

    .top-below-right-down {
        width: 50%;
        float: right;
    }

    .top-search-wrp {
        margin-top: 5px;
    }

    .full-search {
        height: auto;
        margin-bottom: 20px;
    }

    .full-search-left {
        width: 650px;
    }

    .full-search-inp {
        width: 280px;
    }

    .single {
        width: 680px;
    }

    .box-list .box-head {
        width: 678px;
    }

    .box-list-head-list-first {
        display: none;
    }

    .box-list-comic:hover {
        background: none;
    }

    .box-list-head-list {
        width: 200px;
        float: left;
        padding-right: 10px;
        height: auto;
    }

    .box-list-comic {
        width: 440px;
        float: left;
        padding: 0;
        line-height: normal;
        padding-left: 10px;
    }

    .box-list-head-list h4.box-list-head-list-1 {
        width: 195px;
        text-align: right;
        padding-right: 0;
        margin: 0;
    }

    .box-list-head-list h4.box-list-head-list-2 {
        width: 195px;
        text-align: right;
        padding-right: 0;
        margin: 0;
    }

    .box-list-head-list h4.box-list-head-list-3 {
        width: 195px;
        text-align: right;
        padding-right: 0;
        margin: 0;
    }

    .box-list-head-list h4.box-list-head-list-4 {
        width: 195px;
        text-align: right;
        padding-right: 0;
        margin: 0;
    }

    .box-list-head-list h4.box-list-head-list-5 {
        width: 195px;
        text-align: right;
        padding-right: 0;
        margin: 0;
    }

    .box-list-head-list h4.box-list-head-list-6 {
        width: 195px;
        text-align: right;
        padding-right: 0;
        margin: 0;
    }

    .box-list-comic-col-1, .box-list-comic-col-2, .box-list-comic-col-3, .box-list-comic-col-4, .box-list-comic-col-5, .box-list-comic-col-6 {
        margin: 0;
        height: 35px;
        line-height: 35px;
        width: 100%;
    }

    .box-list-comic-col-1 h3, .box-list-comic-col-1 h3 a, .box-list-comic-col-1 h3 a span {
        height: 35px;
        line-height: 35px;
    }

    .box-list-comic-col-1 h3 a img {
        margin-top: 10px;
    }

    .box-list-comic-col-3 p {
        line-height: 35px;
    }

    .box-list-comic-col-3 a {
        height: 35px;
        line-height: 35px;
    }

    .comic-detail-right {
        width: 360px;
    }

    .list-chapter-head {
        width: 650px;
    }

    .list-chapter-line {
        width: 650px;
    }

    .list-chapter-head h4.list-chapter-head-1 {
        width: 180px;
    }

    .list-chapter-line-1 {
        width: 180px;
    }

    .uploaded-item {
        width: 310px;
    }

    .uploaded-item-right {
        width: 225px;
    }

    .chapter-jumping-select {
        width: 300px;
    }
}

/* Show for 100% */
@media screen and (max-width: 750px) {
    .inner {
        width: 90%;
    }

    .top-below-nav, .top-extend, .top-below-right {
        display: none;
    }

    .top-above {
        height: 50px;
    }

    .top-above-right {
        width: 100%;
        line-height: 50px;
    }

    .top-above-right p {
        height: 50px;
        line-height: 50px;
        font-size: 15px;
    }

    .top-above-right p a {
        display: inline-block;
        height: 50px;
        line-height: 50px;
    }

    .top-below-logo {
        width: 120px;
        height: 120px;
        line-height: 120px;
    }

    h1#logo a {
        display: block;
        width: 120px;
        height: 120px;
    }

    .top-below-logo img {
        height: 75% !important;
        width: auto;
    }

    .mobile-toggle {
        font-size: 20px;
        color: #fff;
        display: block;
        position: absolute;
        right: 0;
        top: 39px;
        font-family: 'OpenSans-Bold', sans-serif;
        height: 40px;
        border: 1px solid #fff;
        line-height: 40px;
        padding: 0 15px;
        cursor: pointer;
    }

    #icarousel {
        width: 300px;
        height: 500px;
    }

    #icarousel div.slide {
        width: 300px;
        top: 0 !important;
    }

    .featured-item {
        width: 280px;
        height: auto;
    }

    .featured-item-right {
        display: none;
    }

    .featured-item-left {
        float: none;
        margin: auto;
    }

    .featured-views {
        width: 150px;
    }

    .sidebar {
        width: 94%;
        float: left;
        margin-right: 3%;
        margin-left: 3%;
    }

    .sidebar-head {
        width: 100%;
        border-left: none;
        border-right: none;
        text-align: center;
    }

    .sidebar-head h2 {
        margin: 0;
    }

    p.copyright {
        text-align: center;
    }

    #btm img {
        display: block;
        position: absolute;
        right: auto;
        top: 30px;
        left: 0;
    }

    .move-top {
        display: none;
    }

    .main {
        width: 94%;
        float: left;
        margin: 0 3%;
        overflow: hidden;
    }

    .box-head {
        width: 100%;
        border-left: none;
        border-right: none;
    }

    a.box-paging-left, a.box-paging-right {
        display: none;
    }

    .home-latest-head-list {
        display: none;
    }

    .home-latest-comic-left {
        width: 23%;
        float: left;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 15px;
    }

    .home-latest-chapter-line-2 {
        display: none;
    }

    .home-latest-chapter-line-3 {
        display: none;
    }

    .home-latest-chapter-line {
        padding-left: 0;
    }

    .home-latest-comic-right {
        width: 77%;
        float: left;
    }

    .single {
        width: 94%;
        float: left;
        margin: 0 3%;
    }

    .box-list .box-head {
        width: 100%;
    }

    .box-head h2 {
        margin: 0;
        text-align: center;
    }

    .box-list-head-sort {
        display: none;
    }

    .box-list-comic:hover {
        background: none;
    }

    .box-list-comic-col-1 {
        width: 100%;
        margin: 0 0 15px;
    }

    .box-list-comic-col-2 {
        width: 100%;
        margin: 0 0 7px;
    }

    .box-list-comic-col-3 {
        width: 55%;
        margin: 0 5% 0 0;
    }

    .box-list-comic-col-4 {
        width: 40%;
        margin: 0;
    }

    .box-list-comic-col-5 {
        width: 55%;
        margin: 0 5% 0 0;
    }

    .box-list-comic-col-6 {
        width: 40%;
        margin: 0;
    }

    .full-search {
        height: auto;
    }

    .full-search-left {
        margin-bottom: 15px;
    }

    .full-search-left, .full-search-right {
        width: 100%;
        height: auto;
    }

    .full-search-inp {
        width: 94%;
        padding: 0;
        margin-bottom: 10px;
        padding: 0 3%;
    }

    .full-search-select {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        padding-left: 3%;
    }

    .full-search-btn {
        width: 100%;
    }

    .comic-detail-right {
        width: 100%;
    }

    .detail-chapter-sort {
        display: none !important;
    }

    .list-chapter-wrp {
        height: 300px;
    }

    .list-chapter-line {
        width: 100%;
    }

    .list-chapter-line:hover {
        background: none;
    }

    .list-chapter-head {
        display: none !important;
    }

    .list-chapter-line-1, .list-chapter-line-2, .list-chapter-line-3 {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .list-chapter-line-4 {
        width: 100%;
        margin: 0;
    }

    .uploaded-item {
        width: 100%;
        margin-left: 0;
    }

    .uploaded-item-right {
        width: 100%;
    }

    .uploaded-item-left {
        margin-bottom: 10px;
    }

    .chapter-jumping {
        display: none;
    }

    .chapter-jumping-stick {
        display: block;
    }

    .chapter-jumping-prev, .chapter-jumping-next {
        font-size: 0;
        width: auto;
        padding: 0 15px;
    }

    .chapter-jumping-prev i, .chapter-jumping-next i {
        font-size: 20px;
        height: 40px;
        line-height: 40px;
    }

    .chapter-jumping-select {
        width: 60%;
    }
}

/*Loading Append*/

.loading {
    display: block;
    position: absolute;
    z-index: 3000;
    text-align: center;
    line-height: 100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}

.loading img {
    position: absolute;
    top: 45%;
}

.loading img, .spin-icon {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 700ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 700ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 700ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading-parrent {
    position: relative;
}

.loading-parrent-nodata {
    position: relative;
    height: 150px;
}